.body-detalle{
    margin: 3em 5vw;

}
.box-detalle{
    display: flex;
    justify-content: space-evenly;
    border:1px solid rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    background-color: rgba(250, 166, 191, 0.2);
    align-items: center;
}
.box-mobile-detalle{
    border:1px solid black;
    border-radius: 5px;
    background-color: rgba(250, 166, 191, 0.2);
    margin: 5vh 2vw;
    padding: 1.5rem;
}
.flex1{
    width: 500px;
    height: 100%;
    /* background-color: red; */
    /* margin: auto; */
}
/* .mobile-flex2{
} */
.flex2{
    width: 40%;
    padding:1em 1em;
    /* background-color: rgb(255, 255, 255); */
}
.image-gallery-bullet.active{

      background: rgb(241, 110, 132) !important;
}
.image-gallery-icon{
    color:rgb(245, 186, 186) !important;
}
.image-gallery-icon:focus{
    outline:2px solid transparent !important;
}
.image-gallery-thumbnail.active{
    border:4px solid rgb(241, 107, 107) !important;
}
.image-gallery-thumbnail:hover{
    border:4px solid lightcoral !important;
}
.image-gallery-bullet{
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}
/* .image-gallery-image{
    height: 300px;
    max-width: 450px;
} */
.mobile{
    /* padding-top:  40px; */
    display: flex;
    width:100%;
    margin: auto;
}
.long-screen{
    flex-direction: row;
    max-width: 100%;
    margin:2rem;
}