 /* Header */
  
 .swiper-container {
    width: 100%;
    height: 35vh;
    min-height: 100px;
  }
  @media only screen and (max-height: 640px) {
   .swiper-container{
     height: 30vh;
   }
    }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img{
      width: 100%;
      min-height:100%;
      object-fit: cover;
  }
  .swiper-slide-active{
      animation: slidezoom 7s ease-out;
  }
  .carroIcono{
    position: relative;
    margin-left: -5vw;
    font-size: 16px;
    cursor: pointer;

  }
  .littleNumber{
    position: absolute;
    width: 22px;
    font-size: 13px;
    top:0px;
    right:0px;
    /* border:1px solid rgb(192, 192, 192); */
    border-radius: 50%;
    background-color: rgb(219, 83, 105);
    color:white;
  }
  .image-gallery-thumbnails {
    overflow-x: scroll !important;
  }
  
  .image-gallery-thumbnails::-webkit-scrollbar {
    width: 7px;
  }

/*   
  .image-gallery-thumbnails::-webkit-scrollbar-track {
    box-shadow: inset 4px 4px 5px rgb(88, 27, 27); 
    border-radius: 10px;
    border:1px solid rgb(153, 153, 153);
  }
  .image-gallery-thumbnails::-webkit-scrollbar-thumb {
    background: rgb(255, 77, 107);
    border: 1px solid palevioletred;
    box-shadow: inset 4px 4px 5px rgb(255, 255, 255); 

    border-radius: 10px;

  } 
  */

  @keyframes slidezoom {
      from {transform:(1,1)}
      to {transform:scale(1.1,1.1);}
      0% {filter: saturate(50%);}
      25%{filter:saturate(75%);}
      50% {filter: saturate(100%);}
  
  }

  
  